export(add_item)
export(add_rule)
export(add_variable)
export(check_combinations)
export(example_exercise)
export(exercise_to_rmd)
export(expand_combinations)
export(export_moodle)
export(export_pdf)
export(locale_marks)
export(new_exercise)
export(preview_exercise)
export(read_exercise_file)
export(rmd_to_exercise)
export(run_app)
export(template_exercise)
export(validate_exercise)
export(write_exercise)
importFrom(stats, setNames)
importFrom(utils, modifyList, head)
